body {
	background-color: #3498DB;
	padding-top: 100px;
}

.logo {
	display: block;
	margin: auto;
	height: 35px;
	width: auto;
	margin-bottom: 40px;
}

.signup {
	width: 320px;
	padding-left: 40px;
	padding-right: 40px;
	height: 400px;
	background-color: #fff;
	margin: auto;
}