body {
	background-color: #3498DB;
	padding-top: 50px;
	font-family: Roboto; sans-serif;
	padding: 0;
	margin: 0;
}

body * {
	box-sizing: border-box;
}

p {
	text-align: center;
}

.logo {
	display: block;
	margin: auto;
	height: 75px;
	padding-top: 30px;
	width: auto;
	margin-bottom: 40px;
}

.signup {
	width: 400px;
	padding: 40px;
	background-color: #fff;
	margin: auto;
}

.signup legend {
	font-size: 35px;
	padding: 10px;
	margin: auto auto 20px;
	font-color: #666;
	text-align: center;
}

input {
	width: 100%;
	font-size: 15px;
}

button {
	display: inline-block;
	background-color: green;
	padding: 10px;
	font-family: "Roboto", sans-serif;
	font-size: 15px;
	border: 0;
}

[type=email], [type=password] {
	margin: 15px 0 15px 0;
	padding: 10px;
}

label {
	padding: ;
}

.footer {
	text-align: center;
	font-size: 12px;
	padding: 15px;
	color: white;
}

.footer a {
	color: white;
	text-decoration: none;
}

.footer a:hover {
	text-decoration: underline;
}